.topnav {
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
}

.footernav {
    text-align: center;
}

#navitem {
    background-color: red;
    display: inline;
}

#footeritem {
    background-color: teal;
    display: inline;
}